attrs==18.1.0
certifi==2018.4.16
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.0.7
django-filter==2.0.0
django-configurations==2.0
django-mailbox==4.7.1
djangorestframework==3.8.2
factory-boy==2.10.0
Faker==0.8.15
gunicorn==19.9.0
idna==2.6
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.2.0
pluggy==0.6.0
psycopg2==2.7.3.1
py==1.5.3
PyHamcrest==1.9.0
pytest==3.4.2
pytest-django==3.1.2
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
six==1.11.0
text-unidecode==1.2
uritemplate==3.0.0
urllib3==1.22
raven==6.9.0

git+https://07de0218088728b42ee60f155c71990f1dc6a717:x-oauth-basic@github.com/Q-CIS-DEV/trood-auth-client.git#egg=trood-auth-client